In [62]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  blue solid !important;
  color: black !important;
}
.CodeMirror{
    font-size: 14px;
    font-family:"verdana";
    letter-spacing: .5px
}
</style>

# Objectives of Assignment :
   ### 1. Convert objective data type  to Float or integer data type as Categorical Data 
   ### 2. Replace unwanted string values 
   ### 3. Delete unwanted Columns 
   ### 4. Split Data as required 
   ### 5. Make a usable DataFrame to take decision aggregate numeciral values

In [63]:
import pandas as pd 
google= pd.read_csv('https://raw.githubusercontent.com/jasonchang0/kaggle-google-apps/master/google-play-store-apps/googleplaystore.csv')

In [64]:
google.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

## Change  Column name

In [65]:
google.columns= google.columns.str.replace(' ','_')

In [66]:
google.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content_Rating', 'Genres', 'Last_Updated', 'Current_Ver',
       'Android_Ver'],
      dtype='object')

In [67]:
google.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content_Rating     object
Genres             object
Last_Updated       object
Current_Ver        object
Android_Ver        object
dtype: object

## Change 'Category' Series as Float by value counts order

In [68]:
google.Category.value_counts().index

Index(['FAMILY', 'GAME', 'TOOLS', 'MEDICAL', 'BUSINESS', 'PRODUCTIVITY',
       'PERSONALIZATION', 'COMMUNICATION', 'SPORTS', 'LIFESTYLE', 'FINANCE',
       'HEALTH_AND_FITNESS', 'PHOTOGRAPHY', 'SOCIAL', 'NEWS_AND_MAGAZINES',
       'SHOPPING', 'TRAVEL_AND_LOCAL', 'DATING', 'BOOKS_AND_REFERENCE',
       'VIDEO_PLAYERS', 'EDUCATION', 'ENTERTAINMENT', 'MAPS_AND_NAVIGATION',
       'FOOD_AND_DRINK', 'HOUSE_AND_HOME', 'AUTO_AND_VEHICLES',
       'LIBRARIES_AND_DEMO', 'WEATHER', 'ART_AND_DESIGN', 'EVENTS',
       'PARENTING', 'COMICS', 'BEAUTY', '1.9'],
      dtype='object')

In [69]:
#Convert data as category
google['Category'] = google.Category.astype('category')

In [70]:
# define a ordering for the categories 
google['Category']=google['Category'].cat.set_categories(['FAMILY', 'GAME', 'TOOLS', 'MEDICAL', 'BUSINESS', 'PRODUCTIVITY',
       'PERSONALIZATION', 'COMMUNICATION', 'SPORTS', 'LIFESTYLE', 'FINANCE',
       'HEALTH_AND_FITNESS', 'PHOTOGRAPHY', 'SOCIAL', 'NEWS_AND_MAGAZINES',
       'SHOPPING', 'TRAVEL_AND_LOCAL', 'DATING', 'BOOKS_AND_REFERENCE',
       'VIDEO_PLAYERS', 'EDUCATION', 'ENTERTAINMENT', 'MAPS_AND_NAVIGATION',
       'FOOD_AND_DRINK', 'HOUSE_AND_HOME', 'LIBRARIES_AND_DEMO',
       'AUTO_AND_VEHICLES', 'WEATHER', 'ART_AND_DESIGN', 'EVENTS', 'COMICS',
       'PARENTING', 'BEAUTY', '1.9'])

In [71]:
google['Category_num'] =google.Category.cat.codes

In [72]:
google['Category_num'].astype(float)

0        28.0
1        28.0
2        28.0
3        28.0
4        28.0
         ...
10836     0.0
10837     0.0
10838     3.0
10839    18.0
10840     9.0
Name: Category_num, Length: 10841, dtype: float64

In [73]:
google.Category_num.value_counts().index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 26, 25, 27, 28, 29, 30, 31, 32,
            33],
           dtype='int64')

In [74]:
google.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content_Rating', 'Genres', 'Last_Updated', 'Current_Ver',
       'Android_Ver', 'Category_num'],
      dtype='object')

## Change " Reviews " Series as Float

In [75]:
google.Reviews # to see data types

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: Reviews, Length: 10841, dtype: object

In [76]:
# try to convert Integer  
google.Reviews= google.Reviews.astype(int)

ValueError: invalid literal for int() with base 10: '3.0M'

In [77]:
#Find the Reason for Traceback 
google.loc[google.Reviews=='3.0M',:]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver,Category_num
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,33

In [78]:
# delete the row 
google.drop( 10472 , axis=0,inplace=True)

In [79]:
google.Reviews= google.Reviews.astype(int)

In [80]:
google.Reviews.dtype

dtype('int32')

## Change " Size " Series as Float

In [81]:
google.Size = (google.Size.replace(r'[kM]+$', '', regex=True).astype(float) * google.Size.str.extract(r'[\d\.]+([kM]+)', expand=False).fillna(1).replace(['k','M'], [10**3, 10**6]).astype(int))

ValueError: could not convert string to float: 'Varies with device'

In [82]:
#Convert  'Varies with device' to 0 
google['Size']= google.Size.str.replace('Varies with device','0')

In [83]:
google.Size = (google.Size.replace(r'[kM]+$', '', regex=True).astype(float) * google.Size.str.extract(r'[\d\.]+([kM]+)', expand=False).fillna(1).replace(['k','M'], [10**3, 10**6]).astype(int))

In [84]:
google.Size.dtype

dtype('float64')

## Change " Installs " Series as Float

In [85]:
google['Installs']= google.Installs.str.replace('+','').str.replace(',',"").astype(float)

In [86]:
google.Size.dtype

dtype('float64')

In [87]:
google.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver,Category_num
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000.0,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,28
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000.0,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,28

## Change " Type " Series as Float2

In [88]:
google.Type.unique()

array(['Free', 'Paid', nan], dtype=object)

In [89]:
#replace free and paid with number 
google['Type_num']= google.Type.str.replace('Free','0').\
str.replace('Paid',"1")

In [90]:
#then convert nan values to zero
google.Type_num= google.Type_num.fillna(0)

In [91]:
#change type 
google.Type_num= google.Type_num.astype(float)

In [92]:
google.Type_num.dtype

dtype('float64')

## Change " Price " Series as Float

In [93]:
google.Price.unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [94]:
# Change $ to none With new Column 
google['Price_num']= google.Price.str.replace('$','')

In [95]:
google.Price_num= google.Price_num.astype(float)

In [96]:
google.Price_num.dtype

dtype('float64')

In [97]:
google.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver,Category_num,Type_num,Price_num
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000.0,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,28,0.0,0.0
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000.0,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,28,0.0,0.0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000.0,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,28,0.0,0.0

## Change " Content_Rating" Series as Float

In [98]:
google.Content_Rating.unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [99]:
#Set a Categorical number with new Column 
google['Content_Rating_num']= google.Content_Rating.str.replace('Everyone$','1',regex=True).str.replace('Teen',"2").str.replace('Everyone 10+','3').str.replace('Mature 17+','4').str.replace('Adults only 18+',"5").str.replace('Unrated',"6")

In [100]:
google.Content_Rating_num.unique()

array(['1', '2', '3+', '4+', '5+', '6'], dtype=object)

In [101]:
google['Content_Rating_num']=google.Content_Rating_num.str.replace('+','')

In [102]:
google.Content_Rating_num.unique()

array(['1', '2', '3', '4', '5', '6'], dtype=object)

In [103]:
google['Content_Rating_num']= google['Content_Rating_num'].astype(float)

In [104]:
google['Content_Rating_num'].dtype

dtype('float64')

In [105]:
google.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver,Category_num,Type_num,Price_num,Content_Rating_num
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000.0,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,28,0.0,0.0,1.0
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000.0,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,28,0.0,0.0,1.0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000.0,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,28,0.0,0.0,1.0
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,50000000.0,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,28,0.0,0.0,2.0
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,100000.0,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,28,0.0,0.0,1.0

## Change " Last_Updated" Series as Float

In [106]:
google['Month'] = google.Last_Updated.str.split(" ").str.get(0)

In [107]:
google.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver,Category_num,Type_num,Price_num,Content_Rating_num,Month
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000.0,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,28,0.0,0.0,1.0,January
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000.0,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,28,0.0,0.0,1.0,January

In [108]:
 google["Last_Updated_Year"] =google.Last_Updated.str.split(", ").str.get(1)

In [109]:
google.Last_Updated_Year= google.Last_Updated_Year.astype(int)

In [110]:
google['Month_No']= google.Month.str.replace('January','1').str.replace('February',"2").str.replace('March',"3").str.replace('April','4').str.replace('May',"5").str.replace('June',"6").str.replace('July','7').str.replace('August',"8").str.replace('September',"9").str.replace('October','10').str.replace('November',"11").str.replace('December',"12")

In [111]:
google.Month_No= google.Month_No.astype(int)

In [112]:
google['Month_No'].dtype

dtype('int32')

In [113]:
google.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver,Category_num,Type_num,Price_num,Content_Rating_num,Month,Last_Updated_Year,Month_No
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000.0,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,28,0.0,0.0,1.0,January,2018,1
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000.0,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,28,0.0,0.0,1.0,January,2018,1
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000.0,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,28,0.0,0.0,1.0,August,2018,8

In [114]:
google_Final=google.drop(['App','Category','Type','Price','Content_Rating','Genres','Last_Updated','Current_Ver','Android_Ver'],axis=1)

In [115]:
google_Final=google.drop(['Month'],axis=1)

In [116]:
google_Final.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Current_Ver,Android_Ver,Category_num,Type_num,Price_num,Content_Rating_num,Last_Updated_Year,Month_No
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000000.0,10000.0,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,28,0.0,0.0,1.0,2018,1
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000000.0,500000.0,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,28,0.0,0.0,1.0,2018,1
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700000.0,5000000.0,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,28,0.0,0.0,1.0,2018,8
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000000.0,50000000.0,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,28,0.0,0.0,2.0,2018,6
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800000.0,100000.0,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,28,0.0,0.0,1.0,2018,6

In [117]:
google_Final=google_Final[['Category_num','Rating','Reviews','Size','Installs','Type_num','Price_num','Content_Rating_num','Month_No','Last_Updated_Year']]

In [118]:
google_Final.head()

,Category_num,Rating,Reviews,Size,Installs,Type_num,Price_num,Content_Rating_num,Month_No,Last_Updated_Year
0,28,4.1,159,19000000.0,10000.0,0.0,0.0,1.0,1,2018
1,28,3.9,967,14000000.0,500000.0,0.0,0.0,1.0,1,2018
2,28,4.7,87510,8700000.0,5000000.0,0.0,0.0,1.0,8,2018
3,28,4.5,215644,25000000.0,50000000.0,0.0,0.0,2.0,6,2018
4,28,4.3,967,2800000.0,100000.0,0.0,0.0,1.0,6,2018

In [119]:
google_Final.dtypes

Category_num             int8
Rating                float64
Reviews                 int32
Size                  float64
Installs              float64
Type_num              float64
Price_num             float64
Content_Rating_num    float64
Month_No                int32
Last_Updated_Year       int32
dtype: object

In [120]:
google_Final.describe().T

,count,mean,std,min,25%,50%,75%,max
Category_num,10840.0,8.149815e+00,8.094793e+00,0.0,1.0,6.0,13.0,3.200000e+01
Rating,9366.0,4.191757e+00,5.152189e-01,1.0,4.0,4.3,4.5,5.000000e+00
Reviews,10840.0,4.441529e+05,2.927761e+06,0.0,38.0,2094.0,54775.5,7.815831e+07
Size,10840.0,1.815209e+07,2.217061e+07,0.0,2600000.0,9200000.0,26000000.0,1.000000e+08
Installs,10840.0,1.546434e+07,8.502936e+07,0.0,1000.0,100000.0,5000000.0,1.000000e+09
Type_num,10840.0,7.380074e-02,2.614584e-01,0.0,0.0,0.0,0.0,1.000000e+00
Price_num,10840.0,1.027368e+00,1.594970e+01,0.0,0.0,0.0,0.0,4.000000e+02
Content_Rating_num,10840.0,1.327952e+00,7.616082e-01,1.0,1.0,1.0,1.0,6.000000e+00
Month_No,10840.0,6.422325e+00,2.578388e+00,1.0,5.0,7.0,8.0,1.200000e+01
Last_Updated_Year,10840.0,2.017400e+03,1.100914e+00,2010.0,2017.0,2018.0,2018.0,2.018000e+03