# 3. How do I select a pandas Series from a DataFrame? [video](https://www.youtube.com/watch?v=zxqjeyKP2Tk&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=3)

In [1]:
import pandas as pd

In [16]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  blue solid !important;text-align: center;
  color: black !important;
}
</style>

In [3]:
ufo= pd.read_csv("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv")

In [13]:
ufo.head()

  City                  Colors Reported Shape Reported State Time
0                Ithaca  NaN             TRIANGLE       NY     6/1/1930 22:00
1           Willingboro  NaN                OTHER       NJ    6/30/1930 20:00
2               Holyoke  NaN                 OVAL       CO    2/15/1931 14:00
3               Abilene  NaN                 DISK       KS     6/1/1931 13:00
4  New York Worlds Fair  NaN                LIGHT       NY    4/18/1933 19:00

In [11]:
type(ufo)

pandas.core.frame.DataFrame

#### See a column

In [17]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [18]:
type(ufo['City'])

pandas.core.series.Series

#### use dot instead of [""]

In [19]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

#### But Two word string should be in Square bracket

In [21]:
ufo["Colors Reported"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

In [23]:
ufo.head()

  City                  Colors Reported Shape Reported State Time
0                Ithaca  NaN             TRIANGLE       NY     6/1/1930 22:00
1           Willingboro  NaN                OTHER       NJ    6/30/1930 20:00
2               Holyoke  NaN                 OVAL       CO    2/15/1931 14:00
3               Abilene  NaN                 DISK       KS     6/1/1931 13:00
4  New York Worlds Fair  NaN                LIGHT       NY    4/18/1933 19:00

#### Concatenating Two Columns and Rename that New Column

In [27]:
ufo["Location"] = ufo.City+", "+ ufo.State

In [28]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

#### use Square bracket instead of dot for two words string

In [29]:
ufo.City+", "+ufo["Shape Reported"]

0                   Ithaca, TRIANGLE
1                 Willingboro, OTHER
2                      Holyoke, OVAL
3                      Abilene, DISK
4        New York Worlds Fair, LIGHT
                    ...
18236           Grant Park, TRIANGLE
18237              Spirit Lake, DISK
18238                            NaN
18239             Eagle River, LIGHT
18240                     Ybor, OVAL
Length: 18241, dtype: object